.wrapperProgressBar {
    width: 100%;
    cursor: pointer;

    .MuiLinearProgress-bar1Buffer {
        background-color: white;
    }

    .MuiLinearProgress-bar2Buffer {
        background-color: gray;
    }
}