$buttom-width: 37px;

.wrapper {
    position: relative;
    
    .innerDiv {
        position: absolute;
        width: fit-content;
        background-color: transparent;
        bottom: 2.5em;
        margin-right: auto;
        margin-left: auto;
        left: 0; 
        right: 0; 
        display: flex;
        justify-content: space-between;
        width: 120px;

        .button {
            cursor: pointer;
            width: $buttom-width;
            height: $buttom-width;
            background-color: transparent;
            display: flex;
            justify-content: center;
            border-radius: $buttom-width;
            opacity: 1;

            &:hover {
                background-color: black;
                opacity: 0.5;
            }

            img {
                opacity: 1;
            }
        }
    }
}